$blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$blue-main-bg: hsl(217, 54%, 11%);
$blue-card-bg: hsl(216, 50%, 16%);
$blue-inline: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

$font-size: 16px;
$font-family: 'Outfit', sans-serif;
$fw-light: 300;
$fw-medium: 400;
$fw-bold: 600;

$border-radius: 15px;